/* https://github.com/webomnizz/react-page-scroll-progress-bar */
.progressBarContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 0;
}

.progressBar {
  background: #ffffff;
  transform-origin: top left;
  transform: scale(0, 0);
  position: relative;
}

.progressBarContainer,
.progressBar {
  height: 20px;
}

.progressNumber {
  position: absolute;
  color: black;
  font-size: 15px;
  right: 0px;
  display: inline-block;
  font-family: fenwick, sans-serif;
  letter-spacing: 0.5em;
  font-style: normal;
}
