.PrivacyPolicy {
  height: 70vh;
  width: 30vw;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.316);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 25px;
  flex-direction: column;
  padding: 35px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  h2 {
    margin-bottom: 50px;
    font-size: 1.35em;
    font-family: fenwick, sans-serif;
    font-style: normal;
    text-transform: uppercase;
  }
  p {
    font-weight: 200;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 20px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
  }
}
