@import url("https://use.typekit.net/fzu7oox.css");
@import url("https://use.typekit.net/fzu7oox.css");

.fingerprintSideData {
  font-size: 1.2em;
  font-family: fenwick, sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  h6 {
    position: absolute;
    letter-spacing: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:first-child {
      left: -30px;
      transform: rotate(-90deg);
    }

    &:last-child {
      right: -85px;
      transform: rotate(90deg);
    }
  }
}
