.follow {
  position: absolute;
  width: 100vw;
  height: 20vh;
  margin-top: -20vh;

  h6 {
    color: white;
    text-align: center;
    font-size: 0.5em;
    font-family: fenwick, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    letter-spacing: 1em;
    transform: rotate(-90deg);
    width: 10%;
    margin-left: -5vh;
  }

  .followDiv {
    background-color: #3900f5;
    opacity: 70%;
    mix-blend-mode: color;
    width: 100%;
    height: 100%;
  }
}
