.player1,
.player2 {
  margin: 0;
  position: absolute;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.player1 {
  z-index: -2;
}
.player2 {
  z-index: -3;
}

.longPressButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  left: 0;
  right: 0;
  top: 45vh;
  background-color: transparent;
  border: 2px solid white;
}

.longPressButton:active:hover {
  animation-name: longPressButton;
  animation-duration: 4s;
}

@keyframes longPressButton {
  from {
    transform: scale(1);
    background-color: white;
  }
  to {
    transform: scale(3);
    background-color: rebeccapurple;
  }
}

.soundToggle {
  position: absolute;
  bottom: 0vh;
  right: 0.5vw;
  width: 100px;
  height: auto;
}

.videoout-enter {
  opacity: 0.01;
}

/* ending ENTER animation */
.videoout-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.videoout-exit {
  opacity: 1;
}

.videoout-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.einde {
  opacity: 0;
  z-index: 998;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  font-size: 31.5px;
  font-family: fenwick, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.imageDiv {
  opacity: 0;
  position: absolute;
  height: 80vh;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.terugnaarhome {
  font-size: 1em;
  font-family: fenwick, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 35px;
  border: 2px solid white;
  background-color: transparent;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgba(0, 0, 0, 0.097);
  transition: 0.5s all ease;
}

.terugnaarhome:hover {
  color: black;
  background: white;
  transform: scale(1.05);
}

.stillImage {
  z-index: 998;
  width: 60vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
