.breaches {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/photos/achtergrond.png);
  background-size: cover;
}

.powned {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .copyright {
    font-size: 0.7em;
  }
}
.pownedCard {
  display: flex;
}

.pwndCard {
  height: 50vh;
  width: 18vw;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.316);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  padding: 25px;
  flex-direction: column;
  transform: scale(0.85);

  .image {
    height: 40%;
    width: 90%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  ul {
    margin-top: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-weight: 300;
  }
  h1 {
    font-size: 2.8em;
    margin-top: 15px;
  }

  h2 {
    font-size: 0.7em;
    letter-spacing: 1.5em;
    font-weight: 200;
    margin-top: 5px;
  }

  h3 {
    font-size: 1em;
    margin-top: 30px;
  }
}

#tekst1,
#tekst2 {
  opacity: 0;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2em;
}
